<a href="https://colab.research.google.com/github/jahid02/AI-Lab/blob/main/nootbook_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Build in function

In [3]:
print("print is a build in function")
print("input is a build in function")

x = 10
y = 15
print(max(x,y))
print(min(x,y))

print is a build in function
input is a build in function
15
10

#User define function

In [2]:

def sum(a, b):
  return a+b

print("Please enter your first number")
x = int(input())

print("Please enter your second number")
y = int(input())

total = sum(x,y)
print("Total is : ", total)

Please enter your first number
10
Please enter your second number
20
Total is :  30

#function with multiple parameters

In [5]:
def multipleSum(a, b, c=0):
  return a+b+c

print("Please enter your first number")
x = int(input())

print("Please enter your second number")
y = int(input())

print("Please enter your third number")
z = int(input())

total = multipleSum(x,y,z)
print("Total is : ", total)

Please enter your first number
10
Please enter your second number
20
Please enter your third number
30
Total is :  60

##function without parameter

In [6]:

def sumation():
  a = 10
  b = 15
  return a+b

total = sumation()
print("Total is : ", total)

Total is :  25

#local scope

In [13]:
def sumTwo():
    q = 20
    
print(q)

NameError: ignored

#Global scope

In [14]:
q=10

def sumTwo():
    q = 20
    
print(q)

10

#math library

In [15]:
import math               # first import math library

print(math.pi)            #value of pi

x=20.3

print(math.ceil(x))       #round to the smallest integer not less than x

print(math.floor(x))      #rount to the largest integer not greater than x

print(math.factorial(5))  #factorial to the 5

print (math.gcd(3, 6))    #gcd of 3 and 6

print(math.sin(90))       #trigonometric sine of 90 (90 in radians)

print(math.tan(90))       #trigonometric tan of 90 (90 in radians)

print(math.cos(90))       #trigonometric cos of 90 (90 in radians)

print(math.pow(2,3))      #2 to the power 3

print(math.sqrt(4))       #squre of 4

3.141592653589793
21
20
120
3
0.8939966636005579
-1.995200412208242
-0.4480736161291701
8.0
2.0

#csv module