<a href="https://colab.research.google.com/github/jahid02/AI-Lab/blob/main/nootbook_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#My first proggram

In [ ]:
print("hello bangladesh")

hello bangladesh

#Variable assign and statemetn

In [ ]:
x=20
y=10
print(x+y)

30

In [ ]:
total = x + y
print(total)

30

In [ ]:
fistName = "jahid"
middleName = "hassan"
lastName = "shovon"
print(fistName,middleName,lastName)

jahid hassan shovon

#type

In [ ]:
name = "jahid";
type(name)

str

In [ ]:
type(13.5)

float

In [ ]:
type(20)

int

#Arithmatic operation

In [ ]:
numberOne = 20
numberTwo = 10
summation = numberOne + numberTwo
subtraction = numberOne - numberTwo
multiplication = numberOne * numberTwo
division = numberOne / numberTwo
reminder = numberOne % numberTwo
print("Summation is = ", summation, "\n")
print("Subtraction is = ", subtraction, "\n")
print("Multiplication is = ", multiplication, "\n")
print("Division is = ", division, "\n")
print("Reminder is = ", reminder, "\n")

Summation is =  30

Subtraction is =  10

Multiplication is =  200

Division is =  2.0

Reminder is =  0

In [ ]:
float_divition = 10/3
print(float_divition)

3.3333333333333335 0.2

In [ ]:
true_divition = 15/7
print(true_divition)

2.142857142857143

In [ ]:
exponentioal = 3 ** 5
print(exponentioal)

243

#Logical operation

In [ ]:
x = 10
y = 5
print(x > y)

True

In [ ]:
x = 10
y = 5
print(x < y)

False

In [ ]:
x = 10
y = 5
print(x == y)

False

In [ ]:
x = 10
y = 5
print(x >= y)

True

In [ ]:
x = 10
y = 5
print(x <= y)

False

In [ ]:
x = 10
y = 5
print(x != y)

True

#Chaining comparison

In [ ]:
x = 15
y = 12
print(1 <= x <= 20)

True

In [ ]:
x = 15
y = 12
print(1 <= x <= 10)

False

#Printing a Comma-Separated List of Items

In [ ]:
print("Hello, ", "This ", "is ", "jahid ", "hassan")

Hello,  This  is  jahid  hassan

#Printing Many Lines of Text with One Statement

In [ ]:
print("This is jahid hassan \"shovon\".\n \t Welcome to the \'python\' code")

This is jahid hassan "shovon".
 	 Welcome to the 'python' code

#print value till 2 decimal places

In [ ]:
a=10/3
print ("The value of number till 2 decimal place (using %) is :",end="") 
print ('%.2f' %a)

The value of number till 2 decimal place (using %) is :3.33

#Getting Input from the User

In [ ]:
print("Enter number one : ")
x = int(input())

print("Enter number tow : ")
y = int(input())

print("\nTotal : ", x+y)

Enter number one :
10
Enter number tow :
20

Total :  30

In [ ]:
print("Enter first name : ")
x = input()

print("Enter last name : ")
y = input()

print("\nFull name : ", x,y)

Enter first name :
jahid
Enter last name :
hassan

Full name :  jahid hassan

#Minimum and Maximum

In [ ]:
x = int(input())
y = int(input())
z = int(input())

print("Maximum Number is : ",max(x,y,z))

20
10
15
Maximum Number is :  20

In [ ]:
x = int(input())
y = int(input())
z = int(input())

print("Minimum Number is : ",min(x,y,z))

10
5
20
Minimum Number is :  5