<a href="https://colab.research.google.com/github/jahid02/AI-Lab/blob/main/week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#If statement

In [1]:
num = 60
if num>33:
  print("Pssed")

Pssed

In [5]:
number = 32
if number > 33:
  print("Passed")
else:
  print("Fail")

Fail

In [8]:
x = 20
if x > 0:
  print("The number is grater then 0")
elif x < 0:
  print("The number is less then o")
else:
  print("The number is zero")

The number is grater then 0

In [16]:
print("Please enter your number : ")
grade = int(input())

if (grade > 100 or grade < 0):
  print('Please enter between 0 to 100')

elif grade >= 80:
  print('Your grade is : A')

elif grade >= 70:
  print('Your grade is : A')

elif grade >= 60:
  print('Your grade is : A-')

elif grade >= 50:
  print('Your grade is : B')

elif grade >= 40:
  print('Your grade is : C')

elif grade >= 33:
  print('Your grade is : D')

else:
  print('Your grade is : F')

Please enter your number :
77
Your grade is : A

#While Statement

In [25]:
print("Please enter ending number : ")
x = int(input())
number = 1

print("Print number between 1 to ", x, "\n")
while (number<=x):
  print(number, end=" ")
  number+=1

Please enter ending number :
25
Print number between 1 to  25

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

#while statement to find the first power of 4 larger than 100

In [31]:
product = 4

while product<=100:
  product = product*4

print(product)

256

#For statement

In [33]:
print("Please enter your string")
x = input()
for character in x:
  print(character, end=" ")

Please enter your string
bangladesh
b a n g l a d e s h

#Range function

In [35]:
print("Please enter your range")
x = int(input())
for counter in range(x):
  print(counter, end=" ")

Please enter your range
20
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

#using range function to calculate sum

In [36]:
print("Please enter you number")
x = int(input())
sum = 0

for num in range(x):
  sum = num + sum

print("Total : ", sum)

Please enter you number
9
Total :  36

#two parameter in range function

In [37]:
print("Please enter you starting number")
x = int(input())

print("Please enter you ending number")
y = int(input())


for counter in range(x, y):
  print(counter, end=" ")

Please enter you starting number
10
Please enter you ending number
30
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29

#Three parameter in range function

In [38]:
print("Please enter you starting number")
x = int(input())

print("Please enter you ending number")
y = int(input())

print("Please enter diffrence between two number")
z = int(input())


for counter in range(x, y, z):
  print(counter, end=" ")

Please enter you starting number
10
Please enter you ending number
40
Please enter diffrence between two number
2
10 12 14 16 18 20 22 24 26 28 30 32 34 36 38

#Number table

In [40]:
print("Please enter you number")
x = int(input())
for i in range(1,11):
  print(x," X ",i,"=",x*i)

Please enter you number
8
8  X  1 = 8
8  X  2 = 16
8  X  3 = 24
8  X  4 = 32
8  X  5 = 40
8  X  6 = 48
8  X  7 = 56
8  X  8 = 64
8  X  9 = 72
8  X  10 = 80

#Nasted loop

In [44]:
print("Please enter you Range")
x = int(input())

for i in range(x):
  for j in range(i,x):
    print("["+str(i)+"|"+str(j)+"]", end ="")
  print()

Please enter you Range
9
[0|0][0|1][0|2][0|3][0|4][0|5][0|6][0|7][0|8]
[1|1][1|2][1|3][1|4][1|5][1|6][1|7][1|8]
[2|2][2|3][2|4][2|5][2|6][2|7][2|8]
[3|3][3|4][3|5][3|6][3|7][3|8]
[4|4][4|5][4|6][4|7][4|8]
[5|5][5|6][5|7][5|8]
[6|6][6|7][6|8]
[7|7][7|8]
[8|8]

#break statement

In [48]:
print("Please enter you Range")
x = int(input())
for number in range(x):
  if number==10:
    break
  print(number, end=" ")

Please enter you Range
30
0 1 2 3 4 5 6 7 8 9

#continue statement

In [49]:
print("Please enter you Range")
x = int(input())
for number in range(x):
  if number%2==0:
    continue
  print(number, end=" ")

Please enter you Range
30
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29